.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  display: block;
  max-width:75px;
  max-height:75px;
  margin: auto;
  width: auto;
  height: auto;
  pointer-events: none;
  padding: 10px 0;
}

.App-header {
  padding: 10px 0px;
  background-color: #DCCFEC;
  color: #151414;
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}
